.custom-calendar {
  width: 100%;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 10px;
}

.custom-calendar .react-calendar__tile {
  height: 60px;
}

.current-day {
  color: rgb(255, 208, 0);
}

.has-alarm {
  color: red;
}

.no-alarm {
  color: #171717;
}

.all-cell {
  border-radius: 5px;
}

.badge-container {
  position: relative;
}

.badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 0.75rem;
  line-height: 1;
}

 .react-calendar__month-view__days{
  display: grid !important;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap : 6px
 }
 .react-calendar__century-view__decades{
  display: grid !important;
  grid-template-columns: auto auto auto;
  gap : 6px
 }

 .react-calendar__year-view__months{
  display: grid !important;
  grid-template-columns: auto auto auto;
  gap : 6px
 }

 .react-calendar__decade-view__years {
    display: grid !important;
    grid-template-columns: auto auto auto;
    gap : 6px
 }


